In [105]:
import pandas as pd
from IPython.display import display
import numpy as np
import warnings

In [106]:
warnings.filterwarnings("ignore")

In [107]:
eval = pd.read_csv('evaluations/evaluation_consensus.csv')
display(eval)

,Document number,Triplet,correct triplet,correct entities,correct relation
0,2,2,1,2,1
1,41,1,1,2,1
2,56,1,1,2,1
3,63,1,1,2,1
4,63,2,1,2,1
5,64,1,1,2,1
6,64,1,0,2,0
7,72,1,1,2,1
8,74,1,1,2,1
9,107,1,1,2,1
10,107,2,0,2,0
11,107,4,1,2,1

In [108]:
n_triplets = len(eval)
_,_, correct_triplet, correct_entities , correct_relation  = np.sum(eval)
print('Number  Triplets:       ' + str(n_triplets))
print('Correct Triplets:       ' + str(correct_triplet)   + '    ' + str(correct_triplet/n_triplets * 100) + ' %')
print('Correct Entities:       ' + str(correct_entities)  + '    ' + str(correct_entities/(n_triplets*2) * 100) + ' %')
print('Correct Relation:       ' + str(correct_relation)  + '    ' + str(correct_relation/n_triplets * 100) + ' %')

Number  Triplets:       12
Correct Triplets:       10    83.33333333333334 %
Correct Entities:       24    100.0 %
Correct Relation:       10    83.33333333333334 %